body {
  background: silver;
}

#edt {
  width: 512px;
  height: 320px;
  background: cyan;
  overflow: scroll;
  border: solid 1px black;
  position: relative;
}


#plt1 {
  width: 800px;
  height: auto;
  background: cyan;
  border: solid 1px black;
  position: relative;
  padding: 0px;
  margin: 0px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
}

#plt2 {
  width: 800px;
  height: auto;
  background: cyan;
  border: solid 1px black;
  position: relative;
  padding: 0px;
  margin: 0px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
}

#cmv {
  width: 360px;
  height: 60px;
  background: cyan;
  border: solid 1px black;
  padding: 0px;
  margin: 0px;
  display: block;
}

.pBox {
  position: relative;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}
